@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #ffc5c5;
	font-family: "Tangerine", cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 100vh;
}

.picture-frame:hover {
	transition: all 0.5s ease-in-out;
	transform: rotate(0deg);
	z-index: 101;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.letter-container {
	position: relative;
	position: absolute;
	width: 800px;
	background-color: #f3edc8;
	border-radius: 1px;
	left: 350px;
	border: 1px solid #d2c7b6;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 1s ease-in;
	z-index: 100;
}


.to-mau {
	font-size: 50px;
	margin-bottom: 25px;
}

.letter-content {
	text-align: justify;
	margin-bottom: 25px;
}

.bottom {
	float: right;
}

.heart-button {
	position: absolute;
	top: -100px;
	right: -8%;
	font-size: 150px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	z-index: 1000;
}


